<div class="login-page">
	<div class="img-container">
		<div class="text-center pull-right photo">
			<img src="images/flat-avatar.png" class="user-avatar img-circle img-responsive" />
				<h1>SentientSystem<br/ > <span>OSI Pi Dashboard</span><br /><small>Demo</small></h1>
			</div>
		</div>

		<div class="form-content">
			<div class="pro-link">
				<a href="http://www.synengco.com.com/">Developed by Synengco</a>
			</div>
			<form role="form" class="bottom-75" ng-submit="submit()">
			<div class="table-form">
				<div class="form-groups">
					<p ng-if="errorMessage" class="text-warning">
						{{errorMessage}}
					</p>
					<div class="form-group">
						<input type="text" ng-model="username" class="form-control input-lg" id="" placeholder="USERNAME">
					</div>
					<div class="form-group">
						<input type="password" ng-model="password" class="form-control input-lg" id="" placeholder="PASSWORD">
					</div>
				</div>
				<div class="button-container">
					<button type="submit" class="btn btn-default login"><img src="images/arrow.png" alt=""></button>
				</div>
			</div>
			<!-- <div class="remember">
				<label class="checkbox1" for="Option">
					<input id="Option" type="checkbox" class="">
					<span></span>
				</label>
				remember me
				<span class="pass"> forgot password?</span>
			</div> -->
			</form>
		</div>
	</div>
</div>
